<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REALLI</title>
    <link rel = "icon" href =  
    "images//lol1.png">

    <link rel="stylesheet" href="css/style2.css">
    <style>
        .navbar {
          overflow: hidden;
          background-color: #333;

        }
        
        .navbar a {
          float: right;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .navbar l {
          float: left;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .dropdown {
          float: right;
          overflow: hidden;
        }
        
        .dropdown .dropbtn {
          font-size: 20px;  
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
          background-color:black;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: grey;
          min-width: 160px;
          z-index: 1;
          
        }
        
        .dropdown-content a {
          float: none;
          color:white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown-content a:hover {
          background-color:black;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        </style>
        </head>
        <body>
        
        <div class="navbar">
          <l>R</l>
          <l>E</l>
          <l>A</l>
          <l>L</l>
          <l>L</l>
          <l>I</l>
          <a href="home">Home</a>
          <a href="request">Request Box</a>
          <a href="about">About</a>
          <div class="dropdown">
            <button class="dropbtn">Companies 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="samsung">Samsung</a>
              <a href="nokia">Nokia</a>
              <a href="LG">LG</a>
              <a href="xiaomi">Xiaomi</a>
            </div>
          </div> 
        </div>
        <img src="images/about.png" alt="Image">
<body class="tm-bg-dark">
    <main class="tm-container masonry">

        <div class="item tm-block-right">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        what do we know 
                    </h2>
                </header>
                <p>The world we live in needs more data about our past achievements for good or bad,. As we are destroying more and more our mother nature or advancing into the future on the flying carpet like aladdin,. we know where we are and to know how we get here and the reasons that created our position in this world is important and even a small butterfly frap could create tornadoes so everything at our disposal is essential..so this site defines everything you need to know in this corporate universe. 
                </p>
            
            </div>
        </div>


    </main>

</body>

</html>