<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REALLI</title>
    <link rel = "icon" href =  
    "images//lol1.png">

    <link rel="stylesheet" href="css/style2.css">
    <style>
        .navbar {
          overflow: hidden;
          background-color: #333;
        }
        
        .navbar a {
          float: right;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .navbar l {
          float: left;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .dropdown {
          float: right;
          overflow: hidden;
        }
        
        .dropdown .dropbtn {
          font-size: 20px;  
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
          background-color:black;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: grey;
          min-width: 160px;
          z-index: 1;
          
        }
        
        .dropdown-content a {
          float: none;
          color:white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown-content a:hover {
          background-color:black;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        </style>
        </head>
        <body>
        
        <div class="navbar">
          <l>R</l>
          <l>E</l>
          <l>A</l>
          <l>L</l>
          <l>L</l>
          <l>I</l>
          <a href="home">Home</a>
          <a href="request">Request Box</a>
          <a href="about">About</a>
          <div class="dropdown">
            <button class="dropbtn">Companies 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="samsung">Samsung</a>
              <a href="nokia">Nokia</a>
              <a href="LG">LG</a>
              <a href="xiaomi">Xiaomi</a>

            </div>
          </div> 
        </div>
        
<img src="images/lol.png" alt="Image">
<body class="tm-bg-dark">
    <main class="tm-container masonry">
        <div class="item tm-bg-white tm-block tm-block-left">
            <p class="tm-hero-text">&ldquo;The company which paved path to many startups and inspired many as the biggest 
              innovations ever created in techlogy be it folding screens, s-pen, image sensors, home appliances and many more.,.. 
              Samsung is very huge that it holds multiple divisions that tech could handle and the history which paved to path to its succes is  an amazong ride&rdquo;</p>
            <header class="tm-block-brand">
                <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                    <i class="fas fa-braille fa-3x"></i>
                    <h1 class="tm-brand-name">Tech Giant We Could Never Forget</h1>
                </div>
            </header>
        </div>
        <div class="item">
          <a href="nokia"> <img src="images/nokia1.jpg" alt="Image" class="tm-img-left1"></a>
        </div>
        <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2">
            <i class="fas fa-award fa-4x tm-block-icon"></i>
            <p>A korean company just llike samsung who has its hand in everything possible ,even in chemical industry ,
              disolays, home appliances, and their approach in making smartphones is truly different be it recently 
              launched  LG WING,VELVET, etc and even in appliances with LG THINQ AI platform bringing everything 
              together into ine platform,.,.their OLED tech in their telivisons is an amazong experiance and hidtory 
              supports and defines what an amazong company it is.</p>
            <div class="tm-text-right">
            </div>
        </div>
        <div class="item">
          <a href="xiaomi"> <img src="images/xiaomi1.jpg" alt="Image" class="tm-img-left"></a>
        </div>
        <div class="item">
          <a href="samsung"> <img src="images/samsung1.jpg" alt="Image" class="tm-img-right"></a>
        </div>
        <div class="item tm-block-right">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Love we have for Nokia
                    </h2>
                </header>
                <p>the only company that could create complete nostaliza with even the smallest innovation is Nokia.,.
                   records it broke as a mobile phone company and the advancments it is making in 5g modems and home security systems is impecable,.,.
                   along with that its mobile division is picking up with a fast pace and the history behind it plays an important role
                </p>
            
            </div>
        </div>

        <div class="item">
          <a href="LG"><img src="images/lg1.jpg" alt="Image"></a>
        </div>



            <div class="tm-form-section-tag">
                <div class="tm-bg-secondary tm-text-white tm-block-pad tm-form-section-tag-inner">
                    <header>
                        <h2>They Are Ambitious</h2>
                    </header>
                    <p>7 years ago we dont even know about xiaomi , but now it is the 4 th largest smartphone company
                      compeeting with the big giants like apple, samsung, huawei and it sbig too with wide range of products
                      it offers at an affordable price points is the main crowd grabber with their small accessories like powerbanks to their hightech 
                      robot vaccum cleaners and many more ,.,.which demands a very serious history lesson
                    </p>
                </div>
            </div>
        </div>

    </main>

</body>

</html>