<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REALLI</title>
    <link rel = "icon" href =  
    "images//lol1.png">

    <link rel="stylesheet" href="css/style2.css">
    <style>
        .navbar {
          overflow: hidden;
          background-color: #333;
          
        }
        
        .navbar a {
          float: right;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .navbar l {
          float: left;
          font-size: 20px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .dropdown {
          float: right;
          overflow: hidden;
        }
        
        .dropdown .dropbtn {
          font-size: 20px;  
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
        }
        
        .navbar a:hover, .dropdown:hover .dropbtn {
          background-color:black;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: grey;
          min-width: 160px;
          z-index: 1;
          
        }
        
        .dropdown-content a {
          float: none;
          color:white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown-content a:hover {
          background-color:black;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        </style>
        </head>
        <body>
        
        <div class="navbar">
          <l>R</l>
          <l>E</l>
          <l>A</l>
          <l>L</l>
          <l>L</l>
          <l>I</l>
          <a href="home">Home</a>
          <a href="request">Request Box</a>
          <a href="about">About</a>
          <div class="dropdown">
            <button class="dropbtn">Companies 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="samsung">Samsung</a>
              <a href="nokia">Nokia</a>
              <a href="LG">LG</a>
              <a href="xiaomi">Xiaomi</a>
            </div>
          </div> 
        </div>
        
<img src="images/xiaomi.png" alt="Image">
<body class="tm-bg-dark">
  <div class="tm-bg-primary-1">
  <img src="images/samsung2.jpg" class= "tm-img-left3">
  

<p>
  Samsung, South Korean company that is one of the world’s largest producers of electronic devices. Samsung specializes in the production of a wide variety of consumer and industry electronics, including appliances, digital media devices, semiconductors, memory chips, and integrated systems. It has become one of the most-recognizable names in technology and produces about a fifth of South Korea’s total exports.</p>
 </div>
 <div class="tm-bg-primary-2">
  <img src="images/samsung3.jpg" class= "tm-img-left3">
  <p>Samsung was founded as a grocery trading store on March 1, 1938, by Lee Byung-Chull. He started his business in Taegu, Korea, trading noodles and other goods produced in and around the city and exporting them to China and its provinces. After the Korean War, Lee expanded his business into textiles and opened the largest woolen mill in Korea. He focused heavily on industrialization with the goal of helping his country redevelop itself after the war. During that period his business benefited from the new protectionist policies adopted by the Korean government, whose aim was to help large domestic conglomerates (chaebol) by shielding them from competition and providing them easy financing.
   During the 1970s the company expanded its textile-manufacturing processes to cover the full line of production—from raw materials all the way to the end product—to better compete in the textile industry. New subsidiaries such as Samsung Heavy Industries, Samsung Shipbuilding, and Samsung Precision Company (Samsung Techwin) were established. Also, during the same period, the company started to invest in the heavy, chemical, and petrochemical industries, providing the company a promising growth path.</p>
  </div>
  <div class="tm-bg-primary-3">
   <img src="images/samsung4.jpg" class= "tm-img-left3">
   <p>Samsung first entered the electronics industry in 1969 with several electronics-focused divisions—their first products were black-and-white televisions. During the 1970s the company began to export home electronics products overseas. At that time Samsung was already a major manufacturer in Korea, and it had acquired a 50 percent stake in Korea Semiconductor.
The late 1970s and early ’80s witnessed the rapid expansion of Samsung’s technology businesses. Separate semiconductor and electronics branches were established, and in 1978 an aerospace division was created. Samsung Data Systems (now Samsung SDS) was established in 1985 to serve businesses’ growing need for systems development. That helped Samsung quickly become a leader in information technology services. Samsung also created two research and development institutes that broadened the company’s technology line into electronics, semiconductors, high-polymer chemicals, genetic engineering tools, telecommunications, aerospace, and nanotechnology.
</div>
<div class="tm-bg-primary-4">
<img src="images/samsung5.jpg" class= "tm-img-left3">
<p>In the 1990s Samsung continued its expansion into the global electronics markets. Despite its success those years also brought about corporate scandals that afflicted the company, including multiple bribery cases and patent-infringement suits. Nevertheless, the company continued to make advancements on the technology and product-quality fronts, with a number of its technology products—ranging from semiconductors to computer-monitor and LCD screens—climbing into top-five positions in global market share.</p>
    </p>
    </div>
    <div class="tm-bg-primary-5">
    <img src="images/samsung6.jpg" class= "tm-img-left3">
    <p>The 2000s witnessed the birth of Samsung’s Galaxy smartphone series, which quickly not only became the company’s most-praised product but also frequently topped annual lists of the best-selling smartphones in the world. Since 2006, the company has been the top-selling global manufacturer of televisions. Beginning in 2010, the Galaxy series expanded to tablet computers with the introduction of the Galaxy Tab. The company made additional acquisitions in the following years, including organizations that would help it expand its offerings in medical technology, smart TVs, OLED displays, home automation, printing solutions, cloud solutions, payment solutions, and artificial intelligence.

      In September 2014, Samsung announced the Gear VR, a virtual reality device developed for use with the Galaxy Note 4. By 2015, Samsung had more U.S. patents approved than any other company, with more than 7,500 utility patents granted before the end of the year.
      
      In 2017, Samsung was given governmental permission to test a self-driving car. The following year, Samsung announced that it would expand its renewable energy plans and hire 40,000 employees over the next three years.</p>
      </div>
      <div class="tm-bg-primary-6">
      <img src="images/samsung7.jpg" class= "tm-img-left3">
      <p>A virtual reality headset accessory for Samsung smartphones. Introduced in 2014, the Gear VR has its own accelerometer, gyroscope, magnetometer and proximity sensors but derives its content directly from the phone (initially the Galaxy Note 4). Developed with Oculus VR from the company that makes the Oculus Rift headset, the Gear VR provides a 96 degree panoramic view for movies and games and includes focal adjustments for nearsighted and farsighted people. It connects to the smartphone via Micro USB.</p>
     </div>
     <div class="tm-bg-primary-7">
      <img src="images/samsung8.jpg" class= "tm-img-left3">
      <p>The first smartphone to feature a Super AMOLED display was the Galaxy S from 2010. The rest is history. These displays have become a trademark feature of Galaxy devices since then. Eventually, even rivals — including Apple — started using AMOLED displays on their devices, which stands as a testament to Samsung’s technological prowess and vision. The company’s displays have been consistently rated as the best in the market by many experts.

      </p>
      </div>
      <div class="tm-bg-primary-8">
      <img src="images/samsung9.jpg" class= "tm-img-left3">
      <p>Samsung introduced the S Pen in 2011 when it launched the first Galaxy Note smartphone. Though smartphone styluses existed before, Samsung’s creation was technologically superior and came paired with a large-screen smartphone, which made it an instant hit in the market. Even to this day, the S Pen remains as the most unique feature of the Galaxy Note lineup, with the company adding new features to it every year.</p>
     </div>
     <div class="tm-bg-primary-9">
      <img src="images/samsung10.jpg" class= "tm-img-left3">
      <p>The Samsung Galaxy Fold is an Android-based foldable smartphone developed by Samsung Electronics. Unveiled on February 20, 2019, it was released on September 6, 2019 in South Korea. The device is capable of being folded open to expose a 7.3-inch tablet-sized flexible display, while its front contains a smaller "cover" display, intended for accessing the device without opening it.

      The Galaxy Fold received mixed pre-release reception, with praise for its innovative design, but with critics noting that the screen's plastic coating was not as premium or durable as a traditional glass smartphone screen, and concluding that the Galaxy Fold was a proof of concept device for early adopters rather than a device suited for the mass market.
      
      Critics also displayed concerns over the Galaxy Fold's susceptibility to damage by debris due to the lack of protection around the display hinge; after the screens of several review units were damaged in this manner, or by users accidentally removing a protective plastic layer on top of the screen (which could be mistaken as a standard screen protector). In response to these issues, Samsung announced that it would delay the release of the Galaxy Fold indefinitely while it addressed the problems. Samsung officially detailed its design changes in July, and released the phone in September 2019. The company claimed to have sold one million units since launch by December 2019, but Samsung later denied having sold 1 million units, and admitted having reported sales expectations as actual sales.</p>
    </div>
    </main>

</body>
